<div class="row">
	<div class="col-md-4 col-sm-6 col-xl-2 col-xs-8">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "well"}) do |f| %>

		<fieldset>
			<legend>Sign In</legend>
			<%= f.input :email %>
			<%= f.input :password %>

			<% if devise_mapping.rememberable? -%>
			<div><%= f.input :remember_me, as: :boolean %></div>
			<% end -%>

			<div><%= f.submit "Sign in" %></div>
			<% end %>
		</fieldset>
	</div>
	<div class="col-md-8 col-sm-6 col-xl-10 col-xs-4">
		<h2>Signing in is easy and secure.</h2>
	</div>
</div>

<%= render "devise/shared/links" %>
